/*========== css_libs ==========*/
@import url(../css/css_libs.css);
/*========== main ==========*/
/*========== reset ==========*/
html, body, menu {
  margin: 0;
  padding: 0; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

img {
  border: 0; }

input,
input:hover,
input:active,
input:focus {
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important; }

button,
button:hover,
button:active,
button:focus {
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important; }

textarea,
textarea:hover,
textarea:active,
textarea:focus {
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }
  a:hover, a:active, a:focus {
    outline: none; }

ul, ol {
  margin: 0;
  padding: 0; }

ul, menu {
  list-style: none; }

/*========== variables ==========*/
@font-face {
  font-family: Geometria;
  src: url("../assets/fonts/Geometria.ttf"); }

/*========== default ==========*/
html, body {
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  color: #323232;
  line-height: 20px; }

body {
  min-width: 320px; }

a {
  color: #fff; }
  a:hover {
    color: #997242; }
  a:focus {
    color: #997242;
      color-text-decoration: none; }

textarea {
  resize: none;
  -webkit-border-radius: 0;
          border-radius: 0;
  -webkit-appearance: none; }

input {
  -webkit-border-radius: 0;
          border-radius: 0;
  -webkit-appearance: none; }

.clearfix:after {
  content: '';
  display: block;
  clear: both; }

::-webkit-input-placeholder {
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  color: #6C6C6C; }

::-moz-placeholder {
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  color: #6C6C6C; }

::-moz-placeholder {
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  color: #6C6C6C; }

::-ms-input-placeholder {
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  color: #6C6C6C; }

.indent {
  padding: 0; }

html, body {
  background: #0E0E0E; }

.all {
  display: grid;
  grid-template-columns: 1fr; }
  .all .wrapper {
    padding-left: 25px;
    padding-right: 25px; }
    .all .wrapper.header {
      padding-left: 0;
      padding-right: 0; }
  .all.menu {
    grid-template-columns: -webkit-min-content 1fr;
    grid-template-columns: min-content 1fr; }
    .all.menu .wrapper {
      padding-left: 50px;
      padding-right: 50px; }
    .all.menu header .wrapper {
      padding-left: 25px;
      padding-right: 25px; }
      .all.menu header .wrapper .three {
        display: none; }
      .all.menu header .wrapper .two {
        display: block; }
    .all.menu .left-menu {
      display: block; }
    .all.menu .card .card2 .title div span {
      position: static;
      display: block;
      margin-top: 30px; }
    .all.menu .pluses .items {
      grid-template-columns: repeat(2, -webkit-min-content);
      grid-template-columns: repeat(2, min-content);
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around; }
    .all.menu .getting .items {
      grid-template-columns: repeat(2, -webkit-min-content);
      grid-template-columns: repeat(2, min-content); }
    .all.menu .helper .wrapper .blocks .right-part {
      padding-left: 30px; }
    .all.menu .order-card .wrapper .items {
      grid-gap: 30px; }
    .all.menu .order-card .wrapper .blocks .right-part {
      padding-left: 50px; }
    .all.menu footer .wrapper {
      grid-template-columns: repeat(2, -webkit-min-content);
      grid-template-columns: repeat(2, min-content); }
  .all .content {
    display: grid;
    grid-template-rows: -webkit-min-content;
    grid-template-rows: min-content;
    overflow: hidden; }
    .all .content .wrapper {
      width: 100%;
      max-width: 1200px;
      margin: 0 auto; }

.btn {
  padding: 25px 45px;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  font-family: Geometria, Arial, sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: #fff;
  border: none;
  white-space: nowrap; }
  .btn.brown {
    background: #997242; }
    .btn.brown:hover {
      background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2))), #C0965C;
      background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #C0965C;
      background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #C0965C;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #C0965C; }
    .btn.brown:active {
      background: #1C1C1B; }
    .btn.brown:disabled {
      background: rgba(255, 255, 255, 0.1); }

.block-title {
  font-family: Geometria, Arial, sans-serif;
  font-size: 30px;
  line-height: 38px;
  color: #fff;
  text-align: center; }

@media screen and (max-width: 1299px) {
  .all .left-menu {
    display: none; }
  .all .content header .wrapper {
    padding-left: 25px;
    padding-right: 25px; }
    .all .content header .wrapper .burger {
      display: none; }
  .all.menu .left-menu {
    display: none; }
  .all.menu .content header .wrapper {
    padding-left: 50px;
    padding-right: 50px; }
    .all.menu .content header .wrapper .burger {
      display: none; } }

@media screen and (max-width: 767px) {
  .btn {
    padding: 25px 30px !important; }
    .btn.brown {
      padding: 25px 30px !important; }
  .block-title {
    font-size: 20px;
    line-height: 30px; } }

.left-menu {
  width: 393px;
  background: #1C1C1B;
  padding: 90px 100px;
  display: none; }
  .left-menu nav {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 25px;
    margin-bottom: 500px; }
    .left-menu nav a {
      display: grid;
      width: -webkit-min-content;
      width: -moz-min-content;
      width: min-content;
      white-space: nowrap;
      font-family: Geometria, Arial, sans-serif;
      font-weight: bold;
      font-size: 18px;
      line-height: 30px; }
  .left-menu .phones .item .title {
    font-family: Geometria, Arial, sans-serif;
    font-size: 14px;
    margin-bottom: 4px;
    color: #6C6C6C; }
  .left-menu .phones .item .phone {
    font-family: Geometria, Arial, sans-serif;
    font-size: 24px;
    margin-bottom: 35px;
    color: #bbb; }

header {
  padding: 86px 0 100px; }
  header .wrapper {
    display: grid;
    grid-template-columns: repeat(2, -webkit-min-content);
    grid-template-columns: repeat(2, min-content);
    grid-gap: 73px;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    header .wrapper .burger {
      width: 25px;
      height: 19px;
      position: relative;
      cursor: pointer; }
      header .wrapper .burger .three .line {
        width: 25px;
        height: 3px;
        background: #997242;
        margin-bottom: 5px; }
        header .wrapper .burger .three .line:nth-child(2) {
          width: 20px; }
        header .wrapper .burger .three .line:last-child {
          margin-bottom: 0; }
      header .wrapper .burger .two {
        display: none; }
        header .wrapper .burger .two .line {
          width: 25px;
          height: 3px;
          background: #997242;
          -webkit-transform: rotate(135deg);
              -ms-transform: rotate(135deg);
                  transform: rotate(135deg);
          position: absolute;
          left: 0;
          top: 8px; }
          header .wrapper .burger .two .line:nth-child(2) {
            -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                    transform: rotate(45deg); }

@media screen and (max-width: 767px) {
  header {
    padding: 50px 0; }
    header .logo {
      width: 200px; } }

.card {
  background: url("../assets/img/card/lines-bg.svg") center center no-repeat;
  -webkit-background-size: contain;
          background-size: contain; }
  .card .card2 {
    background: url("../assets/img/card/card-bg.svg") 100% center no-repeat;
    -webkit-background-size: 50% auto;
            background-size: 50% auto;
    height: 100%; }
    .card .card2 .title {
      margin-bottom: 80px; }
      .card .card2 .title div {
        font-family: Geometria, Arial, sans-serif;
        font-size: 96px;
        line-height: 109px;
        font-weight: bold;
        color: #fff;
        position: relative;
        width: 670px; }
        .card .card2 .title div span {
          font-family: Geometria, Arial, sans-serif;
          font-size: 24px;
          line-height: 30px;
          color: #6C6C6C;
          position: absolute;
          right: 0;
          bottom: 14px; }
    .card .card2 .items {
      display: grid;
      grid-template-columns: repeat(2, -webkit-min-content);
      grid-template-columns: repeat(2, min-content);
      grid-column-gap: 42px;
      grid-row-gap: 36px;
      margin-bottom: 70px; }
      .card .card2 .items .item {
        width: 130px; }
        .card .card2 .items .item .percent {
          font-family: Geometria, Arial, sans-serif;
          font-size: 36px;
          font-weight: bold;
          color: #997242;
          margin-bottom: 12px; }
        .card .card2 .items .item .text {
          font-family: Geometria, Arial, sans-serif;
          font-size: 14px;
          font-weight: bold;
          color: #6C6C6C; }
    .card .card2 .btn {
      margin-bottom: 150px; }

@media screen and (max-width: 767px) {
  .card .card2 {
    background: none; }
    .card .card2 .title div {
      font-size: 36px;
      line-height: 40px;
      width: 100%; }
      .card .card2 .title div br {
        display: none; }
      .card .card2 .title div span {
        font-size: 16px;
        line-height: 22px;
        position: static;
        display: block;
        margin-top: 10px; }
    .card .card2 .items {
      grid-column-gap: 10px;
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around; }
      .card .card2 .items .item {
        width: 110px; }
    .card .card2 .btn {
      display: grid;
      margin: 0 auto 100px; } }

.pluses .wrapper .block-title {
  margin-bottom: 8px; }

.pluses .wrapper .desc {
  font-family: Geometria, Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #6C6C6C;
  text-align: center;
  width: 55%;
  margin: 0 auto;
  margin-bottom: 80px; }

.pluses .wrapper .items {
  display: grid;
  grid-template-columns: repeat(4, -webkit-min-content);
  grid-template-columns: repeat(4, min-content);
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  grid-row-gap: 80px;
  padding-bottom: 170px; }
  .pluses .wrapper .items .item {
    width: 200px; }
    .pluses .wrapper .items .item img {
      margin-bottom: 23px; }
    .pluses .wrapper .items .item .title {
      font-family: Geometria, Arial, sans-serif;
      font-size: 18px;
      line-height: 23px;
      color: #fff;
      margin-bottom: 18px; }
    .pluses .wrapper .items .item .description {
      font-family: Geometria, Arial, sans-serif;
      font-size: 14px;
      line-height: 20px;
      color: #6C6C6C; }

@media screen and (max-width: 999px) {
  .pluses .wrapper .desc {
    width: 80%; }
  .pluses .wrapper .items {
    grid-template-columns: repeat(2, -webkit-min-content);
    grid-template-columns: repeat(2, min-content);
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around; } }

@media screen and (max-width: 767px) {
  .pluses .wrapper .desc {
    width: 100%; }
  .pluses .wrapper .items {
    padding-bottom: 100px; } }

@media screen and (max-width: 539px) {
  .pluses .wrapper .items {
    grid-template-columns: 1fr;
    justify-items: center; }
    .pluses .wrapper .items .item {
      display: grid;
      justify-items: center;
      text-align: center; } }

.getting {
  padding-bottom: 120px; }
  .getting .wrapper .block-title {
    margin-bottom: 76px; }
  .getting .wrapper .items {
    display: grid;
    grid-template-columns: repeat(3, -webkit-min-content);
    grid-template-columns: repeat(3, min-content);
    grid-column-gap: 67px;
    grid-row-gap: 38px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .getting .wrapper .items .item {
      width: 287px; }
      .getting .wrapper .items .item:nth-child(4) .logos img:nth-child(2) {
        position: relative;
        top: -5px; }
      .getting .wrapper .items .item .image {
        margin-bottom: 30px; }
      .getting .wrapper .items .item .title {
        font-family: Geometria, Arial, sans-serif;
        font-size: 18px;
        line-height: 23px;
        color: #fff; }
      .getting .wrapper .items .item .description {
        margin-top: 10px;
        font-family: Geometria, Arial, sans-serif;
        font-size: 14px;
        line-height: 20px;
        color: #6C6C6C; }
      .getting .wrapper .items .item .logos {
        margin-top: 30px; }
        .getting .wrapper .items .item .logos img {
          margin: 0 25px 25px 0; }

@media screen and (max-width: 1099px) {
  .getting .wrapper .items {
    grid-template-columns: repeat(2, -webkit-min-content);
    grid-template-columns: repeat(2, min-content);
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around; } }

@media screen and (max-width: 767px) {
  .getting {
    padding-bottom: 100px; }
    .getting .wrapper .block-title {
      margin-bottom: 56px; }
    .getting .wrapper .items {
      grid-template-columns: 1fr;
      justify-items: center; }
      .getting .wrapper .items .item {
        display: grid;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        justify-items: center;
        text-align: center;
        width: 270px;
        overflow: hidden; }
        .getting .wrapper .items .item .image {
          margin-bottom: 10px; }
        .getting .wrapper .items .item .logos {
          margin-top: 20px; }
          .getting .wrapper .items .item .logos img {
            margin: 0 25px 10px 0; } }

.helper {
  background: url("../assets/img/card/lines-bg.svg") center center no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  padding-bottom: 180px;
  overflow: hidden; }
  .helper .wrapper .block-title {
    margin-bottom: 15px; }
  .helper .wrapper .desc {
    font-family: Geometria, Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    text-align: center;
    margin-bottom: 60px; }
    .helper .wrapper .desc span {
      color: #997242; }
  .helper .wrapper .blocks {
    display: grid;
    grid-template-columns: 50% 50%;
    position: relative; }
    .helper .wrapper .blocks .left-part {
      display: grid;
      -webkit-box-pack: end;
      -webkit-justify-content: end;
          -ms-flex-pack: end;
              justify-content: end; }
    .helper .wrapper .blocks .right-part {
      padding-left: 150px;
      display: grid;
      -webkit-align-content: center;
          -ms-flex-line-pack: center;
              align-content: center; }
      .helper .wrapper .blocks .right-part .item {
        display: grid;
        grid-template-columns: -webkit-min-content 200px;
        grid-template-columns: min-content 200px;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        grid-gap: 18px;
        margin-bottom: 60px; }
        .helper .wrapper .blocks .right-part .item:last-child {
          margin-bottom: 0; }
        .helper .wrapper .blocks .right-part .item .text {
          font-family: Geometria, Arial, sans-serif;
          font-size: 14px;
          line-height: 20px;
          color: #fff; }
    .helper .wrapper .blocks img.black {
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%);
      bottom: -160px; }

@media screen and (max-width: 999px) {
  .helper .wrapper .blocks .right-part {
    padding-left: 50px; } }

@media screen and (max-width: 767px) {
  .helper {
    padding-bottom: 100px; }
    .helper .wrapper .block-title {
      margin-bottom: 5px; }
    .helper .wrapper .desc {
      font-size: 13px; }
    .helper .wrapper .blocks {
      grid-template-columns: 1fr; }
      .helper .wrapper .blocks .left-part, .helper .wrapper .blocks .black {
        display: none; }
      .helper .wrapper .blocks .right-part {
        grid-template-columns: repeat(2, -webkit-min-content);
        grid-template-columns: repeat(2, min-content);
        grid-gap: 50px;
        padding-left: 0;
        -webkit-justify-content: space-around;
            -ms-flex-pack: distribute;
                justify-content: space-around; }
        .helper .wrapper .blocks .right-part .item {
          margin-bottom: 0;
          -webkit-box-align: start;
          -webkit-align-items: start;
              -ms-flex-align: start;
                  align-items: start; } }

@media screen and (max-width: 649px) {
  .helper .wrapper .blocks .right-part {
    grid-template-columns: 1fr;
    justify-items: center; } }

.order-card {
  padding-bottom: 75px; }
  .order-card .wrapper .block-title {
    margin-bottom: 50px; }
  .order-card .wrapper .items {
    display: grid;
    grid-template-columns: repeat(3, -webkit-min-content);
    grid-template-columns: repeat(3, min-content);
    grid-gap: 110px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 90px; }
    .order-card .wrapper .items .item {
      width: 255px; }
      .order-card .wrapper .items .item .title {
        font-family: Geometria, Arial, sans-serif;
        font-size: 36px;
        font-weight: bold;
        color: #997242;
        margin-bottom: 20px; }
      .order-card .wrapper .items .item .text {
        font-family: Geometria, Arial, sans-serif;
        font-size: 14px;
        font-weight: bold;
        color: #6C6C6C; }
  .order-card .wrapper .blocks {
    display: grid;
    grid-template-columns: 50% 50%; }
    .order-card .wrapper .blocks .left-part {
      display: grid;
      -webkit-box-pack: end;
      -webkit-justify-content: end;
          -ms-flex-pack: end;
              justify-content: end; }
      .order-card .wrapper .blocks .left-part img {
        max-width: 100%; }
    .order-card .wrapper .blocks .right-part {
      padding-left: 100px; }
      .order-card .wrapper .blocks .right-part .cards {
        display: grid;
        grid-template-columns: repeat(2, -webkit-min-content);
        grid-template-columns: repeat(2, min-content);
        grid-gap: 40px;
        margin-bottom: 50px; }
        .order-card .wrapper .blocks .right-part .cards div {
          white-space: nowrap;
          cursor: pointer;
          font-family: Geometria, Arial, sans-serif;
          font-size: 18px;
          color: #6C6C6C; }
          .order-card .wrapper .blocks .right-part .cards div.active {
            color: #C0965C; }
      .order-card .wrapper .blocks .right-part .btn.brown {
        padding-left: 65px;
        padding-right: 65px;
        margin-bottom: 50px; }
      .order-card .wrapper .blocks .right-part .table {
        margin-bottom: 30px; }
        .order-card .wrapper .blocks .right-part .table .tr {
          display: grid;
          grid-template-columns: 50% 50%;
          grid-gap: 25px;
          margin-bottom: 10px; }
          .order-card .wrapper .blocks .right-part .table .tr .td {
            font-family: Geometria, Arial, sans-serif;
            font-size: 14px; }
            .order-card .wrapper .blocks .right-part .table .tr .td:first-child {
              color: #6C6C6C; }
            .order-card .wrapper .blocks .right-part .table .tr .td:last-child {
              color: #bbb; }
      .order-card .wrapper .blocks .right-part a.details {
        color: #997242;
        width: -webkit-min-content;
        width: -moz-min-content;
        width: min-content;
        border-bottom: 1px dashed #6C6C6C; }
        .order-card .wrapper .blocks .right-part a.details:hover {
          color: #6C6C6C; }

@media screen and (max-width: 1099px) {
  .order-card .wrapper .items {
    grid-template-columns: repeat(2, -webkit-min-content);
    grid-template-columns: repeat(2, min-content);
    grid-gap: 50px;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around; }
    .order-card .wrapper .items .item {
      width: 200px; }
      .order-card .wrapper .items .item br {
        display: none; }
  .order-card .wrapper .blocks {
    grid-template-columns: 1fr;
    grid-row-gap: 40px; }
    .order-card .wrapper .blocks .left-part {
      -webkit-box-pack: left;
      -webkit-justify-content: left;
          -ms-flex-pack: left;
              justify-content: left; }
    .order-card .wrapper .blocks .right-part {
      padding-left: 0; }
      .order-card .wrapper .blocks .right-part .table {
        width: 50%; } }

@media screen and (max-width: 767px) {
  .order-card .wrapper .blocks .right-part .table {
    width: 100%; } }

@media screen and (max-width: 499px) {
  .order-card .wrapper .items {
    grid-template-columns: 1fr;
    justify-items: center;
    text-align: center; }
  .order-card .wrapper .blocks .left-part img {
    width: 100%; }
  .order-card .wrapper .blocks .right-part .table .tr {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, -webkit-min-content);
    grid-template-rows: repeat(2, min-content);
    grid-gap: 5px;
    margin-bottom: 30px; } }

@media screen and (max-width: 399px) {
  .order-card .wrapper .blocks .right-part .cards {
    grid-template-columns: 1fr;
    grid-gap: 20px; }
    .order-card .wrapper .blocks .right-part .cards div {
      width: -webkit-min-content;
      width: -moz-min-content;
      width: min-content; } }

footer {
  background: url("../assets/img/footer/line-bg.svg") center top no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  padding-top: 170px;
  padding-bottom: 54px; }
  footer .wrapper {
    display: grid;
    grid-template-columns: 26% 1fr 26%;
    grid-row-gap: 50px; }
    footer .wrapper .left-part img {
      margin-bottom: 15px; }
    footer .wrapper .left-part .text {
      font-family: Geometria, Arial, sans-serif;
      font-size: 14px;
      line-height: 26px;
      color: #bbb; }
    footer .wrapper .center-part {
      display: grid;
      grid-template-columns: repeat(2, -webkit-min-content);
      grid-template-columns: repeat(2, min-content);
      grid-gap: 50px;
      padding: 0 50px; }
      footer .wrapper .center-part div {
        display: grid;
        grid-template-rows: repeat(5, -webkit-min-content);
        grid-template-rows: repeat(5, min-content); }
        footer .wrapper .center-part div a {
          font-family: Geometria, Arial, sans-serif;
          font-size: 14px;
          line-height: 30px;
          font-weight: 500;
          color: #6C6C6C;
          white-space: nowrap;
          width: -webkit-min-content;
          width: -moz-min-content;
          width: min-content; }
    footer .wrapper .right-part .phones .item .title {
      font-family: Geometria, Arial, sans-serif;
      font-size: 14px;
      margin-bottom: 4px;
      color: #6C6C6C; }
    footer .wrapper .right-part .phones .item .phone {
      font-family: Geometria, Arial, sans-serif;
      font-size: 24px;
      margin-bottom: 35px;
      color: #bbb; }

@media screen and (max-width: 1099px) {
  footer .wrapper {
    grid-template-columns: 1fr -webkit-min-content;
    grid-template-columns: 1fr min-content;
    grid-gap: 40px; }
    footer .wrapper .center-part {
      padding: 0; } }

@media screen and (max-width: 849px) {
  footer .wrapper {
    grid-template-columns: 1fr; } }

@media screen and (max-width: 767px) {
  footer {
    padding-bottom: 15px; }
    footer .wrapper .left-part img {
      width: 200px; } }

@media screen and (max-width: 499px) {
  footer {
    padding-top: 100px; }
    footer .wrapper .center-part {
      grid-template-columns: 1fr;
      grid-gap: 0; } }

.order-card-form {
  display: none; }
  .order-card-form.show {
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%; }
  .order-card-form form {
    grid-column: 2/3;
    position: relative;
    padding: 64px 25px 50px; }
    .order-card-form form .close {
      position: absolute;
      top: 60px;
      right: 44px;
      cursor: pointer;
      z-index: 10; }
    .order-card-form form .title {
      font-family: Geometria, Arial, sans-serif;
      font-size: 30px;
      line-height: 40px;
      font-weight: 800;
      color: #fff;
      margin: 0 0 50px;
      text-align: center; }
    .order-card-form form .wrap {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 20px;
      grid-column-gap: 20px;
      margin-bottom: 20px; }
      .order-card-form form .wrap .field {
        position: relative; }
        .order-card-form form .wrap .field .cnt {
          height: 80px;
          position: relative; }
          .order-card-form form .wrap .field .cnt .label {
            position: absolute;
            top: 50%;
            -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                    transform: translateY(-50%);
            left: 30px;
            font-family: Geometria, Arial, sans-serif;
            font-size: 20px;
            font-weight: 500;
            color: #6C6C6C; }
            .order-card-form form .wrap .field .cnt .label.top {
              font-size: 14px;
              top: 15px;
              -webkit-transition: all linear 0.2s;
              -o-transition: all linear 0.2s;
              transition: all linear 0.2s; }
          .order-card-form form .wrap .field .cnt input {
            width: 100%;
            height: inherit;
            -webkit-border-radius: 10px;
                    border-radius: 10px;
            border: 1px solid transparent;
            padding: 0 30px;
            background: rgba(255, 255, 255, 0.1);
            font-family: Geometria, Arial, sans-serif;
            font-size: 20px;
            font-weight: 500;
            color: #fff; }
            .order-card-form form .wrap .field .cnt input.error {
              border: 2px solid #CC301B; }
            .order-card-form form .wrap .field .cnt input:focus {
              background: rgba(255, 255, 255, 0.2); }
              .order-card-form form .wrap .field .cnt input:focus + .label {
                font-size: 14px;
                top: 15px;
                -webkit-transition: all linear 0.2s;
                -o-transition: all linear 0.2s;
                transition: all linear 0.2s; }
        .order-card-form form .wrap .field .dropdown {
          font-family: Geometria, Arial, sans-serif;
          font-size: 20px;
          font-weight: 500;
          color: #fff;
          background: #272727;
          -webkit-border-radius: 10px;
                  border-radius: 10px;
          position: absolute;
          top: -webkit-calc(100% + 5px);
          top: calc(100% + 5px);
          left: 0;
          width: 100%;
          overflow: hidden;
          height: 0; }
          .order-card-form form .wrap .field .dropdown.show {
            height: 210px;
            padding: 30px 0;
            -webkit-transition: all linear 0.2s;
            -o-transition: all linear 0.2s;
            transition: all linear 0.2s; }
          .order-card-form form .wrap .field .dropdown .inner {
            width: 100%;
            height: 100%;
            overflow: auto; }
          .order-card-form form .wrap .field .dropdown .item {
            padding: 15px 30px;
            cursor: pointer; }
            .order-card-form form .wrap .field .dropdown .item:hover {
              background: rgba(255, 255, 255, 0.2); }
            .order-card-form form .wrap .field .dropdown .item:last-child {
              margin-bottom: 0; }
        .order-card-form form .wrap .field .dropdown-icon {
          position: absolute;
          top: 36px;
          right: 30px; }
          .order-card-form form .wrap .field .dropdown-icon.rotate {
            -webkit-transform: rotate(180deg);
                -ms-transform: rotate(180deg);
                    transform: rotate(180deg);
            -webkit-transition: all linear 0.2s;
            -o-transition: all linear 0.2s;
            transition: all linear 0.2s; }
        .order-card-form form .wrap .field .message {
          font-family: Geometria, Arial, sans-serif;
          font-size: 12px;
          color: #CC301B;
          margin-top: 10px;
          padding-left: 30px; }
      .order-card-form form .wrap .status img {
        position: relative;
        top: 30px; }
    .order-card-form form .checking {
      display: grid;
      grid-template-columns: -webkit-min-content 1fr;
      grid-template-columns: min-content 1fr;
      grid-gap: 20px;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      margin-bottom: 30px; }
      .order-card-form form .checking .checkbox {
        width: 39px;
        height: 39px;
        background: rgba(255, 255, 255, 0.2);
        -webkit-border-radius: 10px;
                border-radius: 10px;
        cursor: pointer;
        display: grid; }
        .order-card-form form .checking .checkbox img {
          margin: auto; }
      .order-card-form form .checking .text {
        font-family: Geometria, Arial, sans-serif;
        font-size: 16px;
        font-weight: 500;
        color: #6C6C6C; }
        .order-card-form form .checking .text span {
          color: #fff; }
  .order-card-form .order-result {
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    height: 100vh;
    margin: auto;
    padding: 25px;
    display: grid;
    grid-column: 1/3;
    -webkit-align-content: center;
        -ms-flex-line-pack: center;
            align-content: center; }
    .order-card-form .order-result.show {
      display: grid; }
    .order-card-form .order-result .icon {
      display: grid;
      margin: 0 auto;
      margin-bottom: 20px; }
    .order-card-form .order-result .title {
      font-family: Geometria, Arial, sans-serif;
      font-size: 30px;
      font-weight: 800;
      color: #fff;
      white-space: nowrap;
      text-align: center;
      margin-bottom: 10px; }
    .order-card-form .order-result .desc {
      font-family: Geometria, Arial, sans-serif;
      font-size: 14px;
      font-weight: bold;
      color: #6C6C6C;
      white-space: nowrap;
      text-align: center; }

@media screen and (max-width: 1299px) {
  .order-card-form.show form {
    grid-column: 1/3;
    width: 650px;
    margin: 0 auto; } }

@media screen and (max-width: 767px) {
  .order-card-form.show form {
    width: 100%; } }

@media screen and (max-width: 599px) {
  .order-card-form.show form .title {
    font-size: 20px;
    line-height: 30px;
    margin: 0 0 30px; }
  .order-card-form.show form .close {
    top: 10px;
    right: 10px; }
  .order-card-form.show form #select .field .cnt input {
    padding: 0 45px 0 15px; }
  .order-card-form.show form .wrap .field .message {
    padding-left: 15px; }
  .order-card-form.show form .wrap .field .cnt {
    height: 65px; }
    .order-card-form.show form .wrap .field .cnt .label {
      font-size: 16px;
      left: 15px; }
    .order-card-form.show form .wrap .field .cnt input {
      font-size: 16px;
      padding: 0 15px; }
  .order-card-form.show form .wrap .field .dropdown-icon {
    top: 28px;
    right: 20px; }
  .order-card-form.show form .wrap .field .dropdown .inner .item {
    font-size: 16px;
    padding: 10px 30px; }
  .order-card-form.show .order-result .title {
    font-size: 20px; }
  .order-card-form.show .order-result .desc {
    white-space: normal; } }
