.pluses
  .wrapper
    .block-title
      margin-bottom: 8px
    .desc
      font-family: Geometria, Arial, sans-serif
      font-size: 14px
      line-height: 18px
      color: $grey
      text-align: center
      width: 70%
      margin: 0 auto
      margin-bottom: 80px
    .items
      display: grid
      grid-template-columns: repeat(4, min-content)
      justify-content: space-between
      grid-row-gap: 80px
      padding-bottom: 170px
      .item
        width: 200px
        img
          margin-bottom: 23px
        .title
          font-family: Geometria, Arial, sans-serif
          font-size: 18px
          line-height: 23px
          color: $white
          margin-bottom: 18px
        .description
          font-family: Geometria, Arial, sans-serif
          font-size: 14px
          line-height: 20px
          color: $grey
