.order-card
  padding-bottom: 75px
  .wrapper
    .block-title
      margin-bottom: 50px
    .items
      display: grid
      grid-template-columns: repeat(3, min-content)
      grid-gap: 110px
      justify-content: space-between
      margin-bottom: 90px
      .item
        width: 255px
        .title
          font-family: Geometria, Arial, sans-serif
          font-size: 36px
          font-weight: bold
          color: $brown
          margin-bottom: 20px
        .text
          font-family: Geometria, Arial, sans-serif
          font-size: 14px
          font-weight: bold
          color: $grey

    .blocks
      display: grid
      grid-template-columns: 50% 50%
      .left-part
        display: grid
        justify-content: end
        img
          max-width: 100%
      .right-part
        padding-left: 100px
        .cards
          display: grid
          grid-template-columns: repeat(2, min-content)
          grid-gap: 40px
          margin-bottom: 50px
          div
            white-space: nowrap
            cursor: pointer
            font-family: Geometria, Arial, sans-serif
            font-size: 18px
            color: $grey
            &.active
              color: $brown-light
        .btn.brown
          padding-left: 65px
          padding-right: 65px
          margin-bottom: 50px
        .table
          margin-bottom: 30px
          .tr
            display: grid
            grid-template-columns: 50% 50%
            grid-gap: 25px
            margin-bottom: 10px
            .td
              font-family: Geometria, Arial, sans-serif
              font-size: 14px
              &:first-child
                color: $grey
              &:last-child
                color: $grey_light
        a.details
          color: $brown
          width: min-content
          border-bottom: 1px dashed $grey
          &:hover
            color: $grey

@media screen and (max-width: 1099px)
  .order-card
    .wrapper
      .items
        grid-template-columns: repeat(2, min-content)
        grid-gap: 50px
        justify-content: space-around
        .item
          width: 200px
          br
            display: none
      .blocks
        grid-template-columns: 1fr
        grid-row-gap: 40px
        .left-part
          justify-content: left
        .right-part
          padding-left: 0
          .table
            width: 50%

@media screen and (max-width: 767px)
  .order-card
    .wrapper
      .blocks
        .right-part
          .table
            width: 100%

@media screen and (max-width: 499px)
  .order-card
    .wrapper
      .items
        grid-template-columns: 1fr
        justify-items: center
        text-align: center
      .blocks
        .left-part
          img
            width: 100%
        .right-part
          .table
            .tr
              grid-template-columns: 1fr
              grid-template-rows: repeat(2, min-content)
              grid-gap: 5px
              margin-bottom: 30px

@media screen and (max-width: 399px)
  .order-card
    .wrapper
      .blocks
        .right-part
          .cards
            grid-template-columns: 1fr
            grid-gap: 20px
            div
              width: min-content