<div class="order-card-form" id="order-card-form">

  <form v-show="form">
    <img class="close"
         src="../../assets/img/orderCardForm/close.png"
         alt=""
         title=""
         @click="closeForm">
    <div class="title">Заявка на карту</div>

    <div class="wrap">
      <div class="field">
        <div class="cnt">
          <input type="text"
                 v-model="fio"
                 :class="{error: !fioStatus && checkForm}">
          <div class="label"
               :class="{top: fio.length > 0}"
               @click="labelClick">
            ФИО
          </div>
        </div> <!-- cnt -->
        <div v-if="!fioStatus && checkForm"
             class="message">
          Некорректно введены данные
        </div>
      </div> <!-- field -->
      <div class="status"
           v-if="checkForm">
        <img v-if="fioStatus"
             class="ok"
             src="../../assets/img/orderCardForm/status_ok.svg"
             alt=""
             title="">
        <img v-else
             class="error"
             src="../../assets/img/orderCardForm/status_error.svg"
             alt=""
             title="">
      </div>
    </div> <!-- wrap -->

    <div class="wrap">
      <div class="field">
        <div class="cnt">
          <input type="text"
                 v-model="email"
                 :class="{error: !emailStatus && checkForm}">
          <div class="label"
               :class="{top: email.length > 0}"
               @click="labelClick">
            Электронный адрес
          </div>
        </div> <!-- cnt -->
        <div v-if="!emailStatus && checkForm"
             class="message">
          Некорректно введены данные
        </div>
      </div> <!-- field -->
      <div class="status"
           v-if="checkForm">
        <img v-if="emailStatus"
             class="ok active"
             src="../../assets/img/orderCardForm/status_ok.svg"
             alt=""
             title="">
        <img v-else
             class="error"
             src="../../assets/img/orderCardForm/status_error.svg"
             alt=""
             title="">
      </div>
    </div> <!-- wrap -->

    <div class="wrap">
      <div class="field">
        <div class="cnt">
          <input type="text"
                 v-model="phone"
                 :class="{error: !phoneStatus && checkForm}">
          <div class="label"
               :class="{top: phone.length > 0}"
               @click="labelClick">
            Номер телефона
          </div>
        </div> <!-- cnt -->
        <div v-if="!phoneStatus && checkForm"
             class="message">
          Некорректно введены данные
        </div>
      </div> <!-- field -->
      <div class="status"
           v-if="checkForm">
        <img v-if="phoneStatus"
             class="ok"
             src="../../assets/img/orderCardForm/status_ok.svg"
             alt=""
             title="">
        <img v-else
             class="error active"
             src="../../assets/img/orderCardForm/status_error.svg"
             alt=""
             title="">
      </div>
    </div> <!-- wrap -->

    <div class="wrap" id="select">
      <div class="field">
        <div class="cnt">
          <input type="text"
                 v-model="citizenship"
                 :class="{error: !citizenshipStatus && checkForm}"
                 @focus="focusInput">
          <div class="label select"
               :class="{top: citizenship.length > 0}"
               @click="labelClick">
            Гражданство
          </div>
          <img class="dropdown-icon"
               src="../../assets/img/orderCardForm/dropdown.svg"
               alt=""
               title=""
               @click="dropdownIconClick">
        </div> <!-- cnt -->
        <div v-if="!citizenshipStatus && checkForm"
             class="message">
          Некорректно введены данные
        </div>
        <div class="dropdown">
          <div class="inner">
            <div class="item" @click="selectItem">Российская Федерация</div>
            <div class="item" @click="selectItem">Белорусия</div>
            <div class="item" @click="selectItem">Казахстан</div>
            <div class="item" @click="selectItem">Сербия</div>
          </div>
        </div>
      </div> <!-- field -->
      <div class="status"
           v-if="checkForm">
        <img v-if="citizenshipStatus"
             class="ok"
             src="../../assets/img/orderCardForm/status_ok.svg"
             alt=""
             title="">
        <img v-else
             class="error active"
             src="../../assets/img/orderCardForm/status_error.svg"
             alt=""
             title="">
      </div>
    </div> <!-- wrap -->

    <div class="checking">
      <div class="checkbox"
           @click="checkboxClick">
        <img v-if="checkbox"
             src="../../assets/img/orderCardForm/check.svg"
             alt=""
             title="">
      </div> <!-- checkbox -->
      <div class="text">
        Я соглашаюсь на <span>обработку</span> моих персональных данных
      </div>
    </div> <!-- checking -->

    <button type="submit"
            :disabled="!checkbox"
            class="btn brown"
            @click.prevent="orderCard">
      Заказать сейчас
    </button>

  </form>

  <div class="order-result"
       v-if="result">
    <img class="icon"
         src="../../assets/img/orderCardForm/status_ok.svg"
         alt=""
         title="">
    <div class="title">
      Ваша заявка принята
    </div>
    <div class="desc">
      В ближайшее время с вами свяжется наш менеджер
    </div>
  </div> <!-- order-result -->

</div> <!-- order-card-form -->