.indent
  padding: 0

html, body
  background: $dark
.all
  display: grid
  grid-template-columns: 1fr
  .wrapper
    padding-left: 200px
    padding-right: 200px
    &.header
      padding-left: 100px
      padding-right: 100px
  &.menu
    grid-template-columns: min-content 1fr
    header
      .wrapper
        .three
          display: none
        .two
          display: block
    .left-menu
      display: block
    .card .card2 .title div span
      position: static
      display: block
      margin-top: 30px
  .content
    display: grid
    grid-template-rows: min-content
    overflow: hidden
    .wrapper
      width: 100%
      max-width: 1180px
      margin: 0 auto

.btn
  padding: 25px 45px
  border-radius: 10px
  font-family: Geometria, Arial, sans-serif
  font-weight: bold
  font-size: 24px
  color: $white
  border: none
  &.brown
    background: $brown
    &:hover
      background: $brown_dark
    &:active
      background: $grey_dark