/*========== variables ==========*/
@font-face
  font-family: Geometria
  src: url('../../assets/fonts/Geometria.ttf')

$minWidthContent: 320px
$mainFont: Roboto, Arial, sans-serif
$mainSize: 16px
$mainColor: #323232
$mainLineHeight: 20px
$brown: #997242
$brown_dark: rgb(113, 81, 40)
$white: #fff
$linkColor: $white
$linkColorHover: $brown
$grey: #6C6C6C
$grey_dark: #1C1C1B
$grey_light: #bbb
$dark: #0E0E0E
