header
  padding: 86px 0 100px
  .wrapper
    display: grid
    grid-template-columns: repeat(2, min-content)
    grid-gap: 73px
    align-items: center
    .burger
      width: 25px
      height: 19px
      position: relative
      cursor: pointer
      .three
        .line
          width: 25px
          height: 3px
          background: $brown
          margin-bottom: 5px
          &:nth-child(2)
            width: 20px
          &:last-child
            margin-bottom: 0
      .two
        display: none
        .line
          width: 25px
          height: 3px
          background: $brown
          transform: rotate(135deg)
          position: absolute
          left: 0
          top: 8px
          &:nth-child(2)
            transform: rotate(45deg)

@media screen and (max-width: 767px)
  header
    padding: 50px 0
    .logo
      width: 200px