<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="title" content="">
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Europe Bank</title>
	<link href="favicon.ico" type="image/x-icon" rel="shortcut icon">
	<!--========================================================-->
	
	<link href="css/bundle.css" type="text/css" rel="stylesheet">
	<!--========================================================-->
</head>
<body>

	<div class="all">
		<div class="left-menu">
		    <nav>
		        <a href="#pluses">Какие преимущества</a>
		        <a href="#getting">Что вы получаете</a>
		        <a href="#helper">Еще сюрпризы</a>
		        <a href="#order-card">Оформить карту</a>
		    </nav>
		    <div class="phones">
		
		        <div class="item">
		            <div class="title">По России</div>
		            <div class="phone">8 800 950 6570</div>
		        </div> <!-- item -->
		
		        <div class="item">
		            <div class="title">По Миру</div>
		            <div class="phone">8 800 950 6570</div>
		        </div> <!-- item -->
		
		    </div> <!-- phones -->
		</div> <!-- left-menu -->
		<div class="content">
			<header>
			    <div class="wrapper header">
			        <div class="burger">
			            <div class="three">
			                <div class="line"></div>
			                <div class="line"></div>
			                <div class="line"></div>
			            </div> <!-- three -->
			            <div class="two">
			                <div class="line"></div>
			                <div class="line"></div>
			            </div> <!-- two -->
			        </div> <!-- burger -->
			
			        <img class="logo" src="assets/img/header/logo.svg" alt="Europe Bank" title="Europe Bank">
			    </div> <!-- wrapper -->
			</header>
			<div class="card">
			  <div class="card2">
			    <div class="wrapper">
			
			      <div class="title">
			        <div>Твоя премиум <br>карта<span>Лучшая карта для <br>любителей путешествий</span></div>
			      </div> <!-- title -->
			
			      <div class="items">
			
			        <div class="item">
			          <div class="percent">11%</div>
			          <div class="text">Вернем <br>за покупку милями</div>
			        </div> <!-- item -->
			
			          <div class="item">
			              <div class="percent">0%</div>
			              <div class="text">Бесплатное снятие наличных по всему миру</div>
			          </div> <!-- item -->
			
			          <div class="item">
			              <div class="percent">7%</div>
			              <div class="text">До 7% <br>на остаток <br>по счету</div>
			          </div> <!-- item -->
			
			          <div class="item">
			              <div class="percent">0р</div>
			              <div class="text">Бесплатное годовое обслуживание</div>
			          </div> <!-- item -->
			
			      </div> <!-- items -->
			
			        <button class="btn brown orderCard">Заказать сейчас</button>
			
			    </div> <!-- wrapper -->
			  </div> <!-- card2 -->
			</div> <!-- card -->
			<div class="pluses" id="pluses">
			  <div class="wrapper">
			
			    <div class="block-title">Путешествие мечты начинается с CARD PLUS</div>
			    <div class="desc">
			      Мы продумали каждую мелочь. Владельцы CARD PLUS получают особый пакет привилегий, необходимый для любого путешествия
			    </div> <!-- desc -->
			
			    <div class="items">
			
			      <div class="item">
			        <img src="assets/img/pluses/tickets.svg" alt="" title="">
			        <div class="title">Билеты любых авиакомпаний</div>
			        <div class="description">Предложения от 300+ авиакомпаний, 185+ lowcost перевозчиков, чартеры от 60 крупных российскихтуроператоров</div>
			      </div> <!-- item -->
			
			      <div class="item">
			        <img src="assets/img/pluses/plane.svg" alt="" title="">
			        <div class="title">Мили больше не сгорают</div>
			        <div class="description">Мили, накопленные при оплате картой AlfaTravel, не сгорают и остаются на вашем счете, пока вы не решите их потратить</div>
			      </div> <!-- item -->
			
			      <div class="item">
			        <img src="assets/img/pluses/heart.svg" alt="" title="">
			        <div class="title">Продвинутая страховка – бесплатно</div>
			        <div class="description">Расширенная страховка для всей семьи с учетом экстремальных видов спорта и алкоголя</div>
			      </div> <!-- item -->
			
			      <div class="item">
			        <img src="assets/img/pluses/currency.svg" alt="" title="">
			        <div class="title">Доступ к счетам в разных валютах</div>
			        <div class="description">Текущие счета в рублях, долларах США, евро, английских фунтах стерлингов и швейцарских франках открываются в любой момент</div>
			      </div> <!-- item -->
			
			    </div> <!-- items -->
			
			  </div> <!-- wrapper -->
			</div> <!-- pluses -->
			<div class="getting" id="getting">
			  <div class="wrapper">
			
			    <div class="block-title">Мы позаботились, чтобы вы получили</div>
			
			    <div class="items">
			
			      <div class="item">
			        <img class="image" src="assets/img/getting/get-1.jpg" alt="" title="">
			        <div class="title">Бесплатный безлимитный интернет в роуминге</div>
			        <div class="logos">
			          <img src="assets/img/getting/megafon.png" alt="" title="">
			          <img src="assets/img/getting/tele2.png" alt="" title="">
			          <img src="assets/img/getting/mtc.png" alt="" title="">
			          <img src="assets/img/getting/beeline.png" alt="" title="">
			        </div> <!-- logos -->
			      </div> <!-- item -->
			
			      <div class="item">
			        <img class="image" src="assets/img/getting/get-2.jpg" alt="" title="">
			        <div class="title">Бесплатная упаковка багажа</div>
			        <div class="description">
			          Держатели карт Visa Signature могут упаковать багаж в крупных аэропортах России
			        </div> <!-- description -->
			      </div> <!-- item -->
			
			      <div class="item">
			        <img class="image" src="assets/img/getting/get-3.jpg" alt="" title="">
			        <div class="title">Бесплатный доступ в приложении App In The Air</div>
			        <div class="description">
			          Бесплатная премиум подписка при покупке авиабилетов на travel.alfabank.ru
			        </div> <!-- description -->
			      </div> <!-- item -->
			
			      <div class="item">
			        <img class="image" src="assets/img/getting/get-4.jpg" alt="" title="">
			        <div class="title">Такси бизнес-класса со скидкой 20%</div>
			        <div class="logos">
			          <img src="assets/img/getting/wheely.png" alt="" title="">
			          <img src="assets/img/getting/gett.png" alt="" title="">
			        </div> <!-- logos -->
			      </div> <!-- item -->
			
			      <div class="item">
			        <img class="image" src="assets/img/getting/get-5.jpg" alt="" title="">
			        <div class="title">Скидка в ресторанах Novikov Group в аэропорту Шереметьево</div>
			      </div> <!-- item -->
			
			      <div class="item">
			        <img class="image" src="assets/img/getting/get-6.jpg" alt="" title="">
			        <div class="title">Доступ в бизнес-залы Priority Pass по всему миру</div>
			      </div> <!-- item -->
			
			    </div> <!-- items -->
			
			  </div> <!-- wrapper -->
			</div> <!-- getting -->
			<div class="helper" id="helper">
			  <div class="wrapper">
			
			    <div class="block-title">Персональный помощник</div>
			    <div class="desc">Бесплатно для владельцев <span>CARD PLUS</span></div>
			
			    <div class="blocks">
			      <div class="left-part">
			        <img class="image" src="assets/img/helper/woman.png" alt="" title="">
			      </div> <!-- left-part -->
			      <div class="right-part">
			
			        <div class="item">
			          <img src="assets/img/helper/help-1.svg" alt="" title="">
			          <div class="text">Организует встречи, найдет гидов и переводчиков</div>
			        </div> <!-- item -->
			
			        <div class="item">
			          <img src="assets/img/helper/help-2.svg" alt="" title="">
			          <div class="text">Спланирует поездку по самым интересным местам вашего отдыха</div>
			        </div> <!-- item -->
			
			        <div class="item">
			          <img src="assets/img/helper/help-3.svg" alt="" title="">
			          <div class="text">Достанет билеты на мероприятия, даже если их уже нет в продаже</div>
			        </div> <!-- item -->
			
			        <div class="item">
			          <img src="assets/img/helper/help-4.svg" alt="" title="">
			          <div class="text">Закажет столик в ресторане, клубе или кафе</div>
			        </div> <!-- item -->
			
			      </div> <!-- right-part -->
			      <img src="assets/img/helper/help-black.png" alt="" title="" class="black">
			    </div> <!-- blocks -->
			
			  </div> <!-- wrapper -->
			</div> <!-- helper -->
			<div class="order-card" id="order-card">
			  <div class="wrapper">
			
			    <div class="block-title">Оформите свою новую карту для путешествий</div>
			
			    <div class="items">
			
			      <div class="item">
			        <div class="title">до 11%</div>
			        <div class="text">Милями за услуги, <br>оплаченные на travel.ru</div>
			      </div> <!-- item -->
			
			      <div class="item">
			        <div class="title">до 11%</div>
			        <div class="text">Милями за любые <br>покупки по карте</div>
			      </div> <!-- item -->
			
			      <div class="item">
			        <div class="title">1 = 1</div>
			        <div class="text">Оплата милями билетов любых <br>авиакомпаний по курсу 1 миля = 1 Р</div>
			      </div> <!-- item -->
			
			    </div> <!-- items -->
			
			    <div class="blocks">
			      <div class="left-part">
			        <img src="assets/img/orderCard/credit-card.png" alt="" title="">
			      </div> <!-- left-part -->
			      <div class="right-part">
			
			        <div class="cards">
			          <div class="credit active">Кредитная карта</div>
			          <div class="debet">Дебетовая карта</div>
			        </div> <!-- cards -->
			
			        <button class="btn brown orderCard">Отправить заявку</button>
			
			        <div class="table">
			          <div class="tr">
			            <div class="td">Стоимость карты в год (руб.)</div>
			            <div class="td">6 490 (без пакета услуг),<br>4 990 (с пакетом услуг)</div>
			          </div>
			          <div class="tr">
			            <div class="td">Приветственные мили (шт.)</div>
			            <div class="td">1 000</div>
			          </div>
			          <div class="tr">
			            <div class="td">Мили за покупки</div>
			            <div class="td">5%</div>
			          </div>
			        </div> <!-- table -->
			
			        <a href="#" class="details">Все подробности</a>
			
			      </div> <!-- right-part -->
			    </div> <!-- blocks -->
			
			  </div> <!-- wrapper -->
			</div> <!-- order-card -->
			<footer>
			  <div class="wrapper">
			
			    <div class="left-part">
			      <img src="assets/img/header/logo.svg" alt="Europe Bank" title="Europe Bank">
			      <div class="text">АО «Кредит Европа Банк»</div>
			    </div> <!-- left-part -->
			
			    <div class="center-part">
			      <div>
			        <a href="#">О банке</a>
			        <a href="#">Офисы и банкоматы</a>
			        <a href="#">Новости</a>
			        <a href="#">Вакансии</a>
			        <a href="#">Реализуемое имущество</a>
			      </div>
			      <div>
			        <a href="#">Раскрытие информации</a>
			        <a href="#">Ставки по вкладам</a>
			        <a href="#">Условия и тарифы</a>
			        <a href="#">Корпоративное управление</a>
			        <a href="#">Карта сайта</a>
			      </div>
			    </div><!-- center-part -->
			
			    <div class="right-part">
			      <div class="phones">
			
			        <div class="item">
			          <div class="title">По России</div>
			          <div class="phone">8 800 950 6570</div>
			        </div> <!-- item -->
			
			        <div class="item">
			          <div class="title">По Миру</div>
			          <div class="phone">8 800 950 6570</div>
			        </div> <!-- item -->
			
			      </div> <!-- phones -->
			    </div> <!-- right-part -->
			
			  </div> <!-- wrapper -->
			</footer>
		</div> <!-- content -->
		<div class="order-card-form" id="order-card-form">
		
		  <form v-show="form">
		    <img class="close"
		         src="assets/img/orderCardForm/close.png"
		         alt=""
		         title=""
		         @click="closeForm">
		    <div class="title">Заявка на карту</div>
		
		    <div class="wrap">
		      <div class="field">
		        <div class="cnt">
		          <input type="text"
		                 v-model="fio"
		                 :class="{error: !fioStatus && checkForm}">
		          <div class="label"
		               :class="{top: fio.length > 0}"
		               @click="labelClick">
		            ФИО
		          </div>
		        </div> <!-- cnt -->
		        <div v-if="!fioStatus && checkForm"
		             class="message">
		          Некорректно введены данные
		        </div>
		      </div> <!-- field -->
		      <div class="status"
		           v-if="checkForm">
		        <img v-if="fioStatus"
		             class="ok"
		             src="assets/img/orderCardForm/status_ok.svg"
		             alt=""
		             title="">
		        <img v-else
		             class="error"
		             src="assets/img/orderCardForm/status_error.svg"
		             alt=""
		             title="">
		      </div>
		    </div> <!-- wrap -->
		
		    <div class="wrap">
		      <div class="field">
		        <div class="cnt">
		          <input type="text"
		                 v-model="email"
		                 :class="{error: !emailStatus && checkForm}">
		          <div class="label"
		               :class="{top: email.length > 0}"
		               @click="labelClick">
		            Электронный адрес
		          </div>
		        </div> <!-- cnt -->
		        <div v-if="!emailStatus && checkForm"
		             class="message">
		          Некорректно введены данные
		        </div>
		      </div> <!-- field -->
		      <div class="status"
		           v-if="checkForm">
		        <img v-if="emailStatus"
		             class="ok active"
		             src="assets/img/orderCardForm/status_ok.svg"
		             alt=""
		             title="">
		        <img v-else
		             class="error"
		             src="assets/img/orderCardForm/status_error.svg"
		             alt=""
		             title="">
		      </div>
		    </div> <!-- wrap -->
		
		    <div class="wrap">
		      <div class="field">
		        <div class="cnt">
		          <input type="text"
		                 v-model="phone"
		                 :class="{error: !phoneStatus && checkForm}">
		          <div class="label"
		               :class="{top: phone.length > 0}"
		               @click="labelClick">
		            Номер телефона
		          </div>
		        </div> <!-- cnt -->
		        <div v-if="!phoneStatus && checkForm"
		             class="message">
		          Некорректно введены данные
		        </div>
		      </div> <!-- field -->
		      <div class="status"
		           v-if="checkForm">
		        <img v-if="phoneStatus"
		             class="ok"
		             src="assets/img/orderCardForm/status_ok.svg"
		             alt=""
		             title="">
		        <img v-else
		             class="error active"
		             src="assets/img/orderCardForm/status_error.svg"
		             alt=""
		             title="">
		      </div>
		    </div> <!-- wrap -->
		
		    <div class="wrap" id="select">
		      <div class="field">
		        <div class="cnt">
		          <input type="text"
		                 v-model="citizenship"
		                 :class="{error: !citizenshipStatus && checkForm}"
		                 @focus="focusInput">
		          <div class="label select"
		               :class="{top: citizenship.length > 0}"
		               @click="labelClick">
		            Гражданство
		          </div>
		          <img class="dropdown-icon"
		               src="assets/img/orderCardForm/dropdown.svg"
		               alt=""
		               title=""
		               @click="dropdownIconClick">
		        </div> <!-- cnt -->
		        <div v-if="!citizenshipStatus && checkForm"
		             class="message">
		          Некорректно введены данные
		        </div>
		        <div class="dropdown">
		          <div class="inner">
		            <div class="item" @click="selectItem">Российская Федерация</div>
		            <div class="item" @click="selectItem">Белорусия</div>
		            <div class="item" @click="selectItem">Казахстан</div>
		            <div class="item" @click="selectItem">Сербия</div>
		          </div>
		        </div>
		      </div> <!-- field -->
		      <div class="status"
		           v-if="checkForm">
		        <img v-if="citizenshipStatus"
		             class="ok"
		             src="assets/img/orderCardForm/status_ok.svg"
		             alt=""
		             title="">
		        <img v-else
		             class="error active"
		             src="assets/img/orderCardForm/status_error.svg"
		             alt=""
		             title="">
		      </div>
		    </div> <!-- wrap -->
		
		    <div class="checking">
		      <div class="checkbox"
		           @click="checkboxClick">
		        <img v-if="checkbox"
		             src="assets/img/orderCardForm/check.svg"
		             alt=""
		             title="">
		      </div> <!-- checkbox -->
		      <div class="text">
		        Я соглашаюсь на <span>обработку</span> моих персональных данных
		      </div>
		    </div> <!-- checking -->
		
		    <button type="submit"
		            :disabled="!checkbox"
		            class="btn brown"
		            @click.prevent="orderCard">
		      Заказать сейчас
		    </button>
		
		  </form>
		
		  <div class="order-result"
		       v-if="result">
		    <img class="icon"
		         src="assets/img/orderCardForm/status_ok.svg"
		         alt=""
		         title="">
		    <div class="title">
		      Ваша заявка принята
		    </div>
		    <div class="desc">
		      В ближайшее время с вами свяжется наш менеджер
		    </div>
		  </div> <!-- order-result -->
		
		</div> <!-- order-card-form -->
	</div> <!-- all -->

	<script src="js/bundle.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<!--========================================================-->
</body>
</html>