.card
  background: url('../assets/img/card/lines-bg.svg') center center no-repeat
  background-size: contain
  .card2
    background: url('../assets/img/card/card-bg.svg') 100% center no-repeat
    background-size: 50% auto
    height: 100%
    .title
      margin-bottom: 80px
      div
        font-family: Geometria, Arial, sans-serif
        font-size: 96px
        line-height: 109px
        font-weight: bold
        color: $white
        position: relative
        width: 670px
        span
          font-family: Geometria, Arial, sans-serif
          font-size: 24px
          line-height: 30px
          color: $grey
          position: absolute
          right: 0
          bottom: 14px
    .items
      display: grid
      grid-template-columns: repeat(2, min-content)
      grid-column-gap: 42px
      grid-row-gap: 36px
      margin-bottom: 70px
      .item
        width: 130px
        .percent
          font-family: Geometria, Arial, sans-serif
          font-size: 36px
          font-weight: bold
          color: $brown
          margin-bottom: 12px
        .text
          font-family: Geometria, Arial, sans-serif
          font-size: 14px
          font-weight: bold
          color: $grey
    .btn
      margin-bottom: 150px

@media screen and (max-width: 767px)
  .card
    .card2
      background: none
      .title
        div
          font-size: 36px
          line-height: 40px
          width:  100%
          br
            display: none
          span
            font-size: 16px
            line-height: 22px
            position: static
            display: block
            margin-top: 10px
      .items
        grid-column-gap: 10px
        justify-content: space-around
        .item
          width: 110px
      .btn
        display: grid
        margin: 0 auto 100px