footer
  background: url('../../assets/img/footer/line-bg.svg') center top no-repeat
  background-size: contain
  padding-top: 170px
  padding-bottom: 54px
  .wrapper
    display: grid
    grid-template-columns: 26% 1fr 26%
    grid-row-gap: 50px
    .left-part
      img
        margin-bottom: 15px
      .text
        font-family: Geometria, Arial, sans-serif
        font-size: 14px
        line-height: 26px
        color: $grey_light
    .center-part
      display: grid
      grid-template-columns: repeat(2, min-content)
      grid-gap: 50px
      padding: 0 50px
      div
        display: grid
        grid-template-rows: repeat(5, min-content)
        a
          font-family: Geometria, Arial, sans-serif
          font-size: 14px
          line-height: 30px
          font-weight: 500
          color: $grey
          white-space: nowrap
          width: min-content
    .right-part
      .phones
        .item
          .title
            font-family: Geometria, Arial, sans-serif
            font-size: 14px
            margin-bottom: 4px
            color: $grey
          .phone
            font-family: Geometria, Arial, sans-serif
            font-size: 24px
            margin-bottom: 35px
            color: $grey_light
