.helper
  background: url('../assets/img/card/lines-bg.svg') center center no-repeat
  background-size: contain
  padding-bottom: 180px
  overflow: hidden
  .wrapper
    .block-title
      margin-bottom: 15px
    .desc
      font-family: Geometria, Arial, sans-serif
      font-size: 14px
      line-height: 18px
      color: $white
      text-align: center
      margin-bottom: 60px
      span
        color: $brown
    .blocks
      display: grid
      grid-template-columns: 50% 50%
      position: relative
      .left-part
        display: grid
        justify-content: end
      .right-part
        padding-left: 150px
        display: grid
        align-content: center
        .item
          display: grid
          grid-template-columns: min-content 200px
          align-items: center
          grid-gap: 18px
          margin-bottom: 60px
          &:last-child
            margin-bottom: 0
          .text
            font-family: Geometria, Arial, sans-serif
            font-size: 14px
            line-height: 20px
            color: $white
      img.black
        position: absolute
        left: 50%
        transform: translateX(-50%)
        bottom: -160px

@media screen and (max-width: 999px)
  .helper
    .wrapper
      .blocks
        .right-part
          padding-left: 50px

@media screen and (max-width: 767px)
  .helper
    padding-bottom: 100px
    .wrapper
      .block-title
        margin-bottom: 5px
      .desc
        font-size: 13px
      .blocks
        grid-template-columns: 1fr
        .left-part, .black
          display: none
        .right-part
          grid-template-columns: repeat(2, min-content)
          grid-gap: 50px
          padding-left: 0
          justify-content: space-around
          .item
            margin-bottom: 0
            align-items: start

@media screen and (max-width: 649px)
  .helper
    .wrapper
      .blocks
        .right-part
          grid-template-columns: 1fr
          justify-items: center